table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}
th, td {
    border: 1px solid #A3B18A;
    padding: 8px;
    text-align: left;
}
th {
    background-color:  #3A5A40;
}
a{
    top: 40px;
    background-color: #3A5A40;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    text-decoration: none;

}